<h2><%= @issue.subject %></h2>

<p><%= l(:label_authorchange) %>
  <em>
    <%= @issue.author.name %>
  </em>
</p>
<%= form_tag changeauthor_path(@issue), :method => 'put' do -%>
<p>
  <h3><%= l(:head_authorchange) %></h3>

  <select id="edit-authorid" name="authorid">
    <%= options_from_collection_for_select(@users, :user_id, :name, @issue.author_id) %>
  </select>
</p>
<%= submit_tag l(:button_save), :class => 'button-small' -%>
<% end -%>

